<!-- signin.html-->

{% extends "base.html" %}

{% block title %}
Delete article
{% endblock %}

{% block head %}
<meta name="description" content="">
<link rel="stylesheet" type="text/css" href="../static/css/album.css">
{% endblock %}

{% block body %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{ article_name }} has been deleted</h1>
      </div>
    </div>
  </section>

  <section class="py-5 text-center container">
    <p><a href="{{url_for('main.album')}}" class="btn btn-primary my-2">Back to Article View</a></p>
  </section>

</main>
{% endblock %}
