<!-- register.html-->

{% extends "base.html" %}

{% block title %}
Covid Biblio Homepage
{% endblock %}

{% block head %}
<meta name="description" content="">
<script type="text/javascript" src="../static/js/jquery.min.js" defer></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js" defer></script>
<script type="text/javascript" src='../static/js/main.js' defer></script>
<script src="https://getbootstrap.com//docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous" defer></script>
{% endblock %}


{% block body %}


<!-- ABOUT US -->
<div class="header ">
	<div class="overlay"></div>
		<div class="container">
			<div class="description">
	  	<h1>
	  		Hello ,Welcome To Covid Biblio
	  		<p>Online platform that extracts relevant information when users upload a scientific journal article.</p>
				<a href='/album'><button class="btn btn-outline-secondary btn-lg">See Articles</button></a>
	  	</h1>
	  </div>
	</div>
</div>

<!-- about section -->
<div class="about" id="about">
	<div class="container">
	  <h1 class="text-center">About Us</h1>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="../static/img/transparent_covid.png" class="img-fluid">
				<span class="text-justify">"The ennemy..."</span>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-12 desc">
				<h3>Scope of work</h3>
				<p>We aim to automatically extract:
					<ul>
						<li>Abstract</li>
						<li>Introduction</li>
						<li>Materials and Methods</li>
						<li>Results and Discussion</li>
						<li>Conclusion</li>
						<li>References</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>


<!-- Team section -->
<div class="team" id="team">
	<div class="container">
	   <h1 class="text-center">Our Team</h1>
		<div class="row">
		{% for s in team %}
			<div class="col-lg-4 col-md-4 col-sm-12 item">
				<img src={{"../static/img/" + s[2]}} class="img-fluid" alt="team">
				<div class="des">{{ s[0] }}</div>
				<div class="text-muted">{{ s[1] }}</div>
			</div>
		{% endfor %}
		</div>
	</div>
</div>

<!-- Contact form -->
<div class="contact-form" id="contact">
	<div class="container">
		<form>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12">
				  <h1>Get in Touch</h1>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 right">
				   <div class="form-group"><input type="text" class="form-control form-control-lg" placeholder="Your Name" name=""></div>
				   <div class="form-group"><input type="email" class="form-control form-control-lg" placeholder="YourEmail@email.com" name="email"></div>
				   <div class="form-group"><textarea class="form-control form-control-lg"></textarea></div>
				   <input type="submit" class="btn btn-secondary btn-block" value="Send" name="">
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
